* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.qr-container {
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 0 10px 0 steelblue;
    background-color: white;
}

.qr-container h2 {
    font-size: 32px;
    color: blue;
    text-align: center;
    margin-bottom: 10px;
}

#qr-input {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

#qr-button {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

#qr-img {
    display: block;
    margin: 0 auto;
    display: none;
}