* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.dice {
    margin: 20px 0;
    font-size: 100px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.dice-animation {
    animation-name: roll;

}

@keyframes roll {
    0% {
        transform: rotateX(0deg) rotateY(odeg);
    }

    100% {
        transform: rotateX(720deg) rotateY(720deg);
    }
}


#roll-btn {
    margin-bottom: 30px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: steelblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.roll-history {
    width: 80%;
}

li {
    list-style: none;
    background-color: #DDDDDD;
    box-shadow: 2px 2px 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    padding-left: 10px;


}

li span {
    font-size: 48px;
    margin-right: 10px;
}