* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: aliceblue;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box {
    width: 300px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3D77A7;
    color: white;
    transform: translateX(400%);
    transition: transform 0.5s ease;

}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}

h1 {
    font-size: 40px;
    margin: 10px;
}